@import '../../styles/settings.scss';

.component {
  position: relative;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.content {
  display: none;

  &.visible {
    display: initial;
  }
}

.icon {
  font-size: $base-size * 1.7;
}
